{% extends "speech/base.html" %}

{% block content %}
<section>
    <div class="container">
    
        
            <div class="row mbr-justify-content-center">
    
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-volume-up fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Stay <span>Successful</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">SSuccess isn’t something that we arrive in one day. 
                                Success has an inseparable tie to your individual everyday decisions, activities, and encounters, despite how big or small they are. 
                                 </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-calendar fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Create
                                <span>A Speech</span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">The introduction for a speech is generally only 10 to 15 percent of the entire time the speaker will spend speaking. 
                                This means that if your speech is to be five minutes long, your introduction should be no more than forty-five seconds. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-globe fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Launch
                                <span>A Unique Speeh</span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-trophy fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Check out <span>Our Award wining Speech</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
    
                
    
                
            </div>
    
    </div>
    
    </section>


    
 {% endblock content %}
